@charset "UTF-8";

/*
 Faz com que ao clicar no href(link do menu, por exemplo, a página role suavemente até lá.
 */ 
html {
    scroll-behavior: smooth;
}

/* 
Garante que, ao rolar o usuário pro lugar determinado, o título não bugue e fique escondido, sempre acompanhando na tela.
*/
section[id] {
    scroll-margin-top: 80px;
}

body {
    background-color: #071212;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #071212;
    border-bottom: 4px solid #000;
    position: sticky;
    top: 0;
}

#logo {
    display: flex;
    padding-top: 0px;
    align-items: center;
}

header h1 {
    padding-right: 10px;
    padding-left: 10px;
}

header a {
    padding-right: 10px;
    padding-left: 5px;
}

h1 {
    color: cyan;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #baffff;
}

#perfil-andrew {
    height: 400px;

}

#perfil-marcus {
    height: 429px;
}

#inicio {
    text-align: justify;
    padding-left: 75px;
    padding-right: 75px;
}

.inicio_sobre_nos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 10px;
    padding-top: 30px;
    padding-left: 75px;
    padding-right: 75px;
}

.texto_sobre_nos {
    font-size: 14px;
    line-height: 20px;
    width: 700px;
}

.informacoes_principais {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card-informacao {
    text-align: center;
    border: 2px solid #008b8b;
    border-radius: 10px;
    width: 220px;
    height: 147px;
}

.icone {
    width: 60px;
    height: 60px;
}

.gosto_musical {
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-gosto_musical {
    max-width: 700px;
}

.cards_de_musica {
    display: flex;
    justify-content: center;
    gap: 110px;
}

.card_de_musica {
    border: 2px solid #008b8b;
    justify-content: center;
    border-radius: 10px;
    width: 150px;
    height: 225px;
    line-height: 10px;
}

.card_de_musica img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.card_de_musica:hover {
    border: 2px solid #00ffff;
}

.conteudo {
    background-image: linear-gradient(180deg, #071212, #0b2222bb 5%, #0b2222bb 95%, #071212);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.visao_do_futuro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-visao_do_futuro {
    border: 2px solid #008b8b;
    border-radius: 10px;
    padding: 30px;
    width: 670px;
}

.hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.hobbies div {
    text-align: left;
}

.hobbies div ul{
    max-width: 550px;
}

.video-trailer {
    display: flex;
    flex-direction: column;
    align-items: center;
}